* {
  margin: 0;
  padding: 0;
}

html {
  width: 100vw;
  overflow-x: hidden;
}

body {
  position: relative;
  background-color: #faf8f8;
}

#navbar {
  position: relative;
}
#navbar #hamburger_icon {
  position: absolute;
  width: 60px;
  height: 60px;
  top: 15px;
  left: 25px;
  z-index: 3;
  background-image: url("../src/hamburger_icon.png");
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
}
#navbar #hamburger_icon:hover {
  cursor: pointer;
}
#navbar #hamburger_content_shadow {
  display: none;
  position: fixed;
  height: 100vh;
  width: 100vw;
  background-color: black;
  opacity: 0.7;
  z-index: 4;
}
#navbar #hamburger_content {
  position: fixed;
  display: none;
  left: 0;
  height: 100vh;
  width: 65vw;
  z-index: 10;
  background-color: white;
  user-select: none;
}
#navbar #hamburger_content #hamburger_close {
  position: absolute;
  top: 12px;
  left: 19.5px;
  width: 70px;
  height: 70px;
  background-image: url("../src/hamburger_close.png");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}
#navbar #hamburger_content #hamburger_close:hover {
  cursor: pointer;
}
#navbar #hamburger_content .hamburger_element {
  margin-left: 10vw;
  display: flex;
  align-items: center;
  margin-top: 10vh;
}
#navbar #hamburger_content .hamburger_element .hamburger_element_zsh {
  font-size: 2rem;
  color: #62b6b7;
  letter-spacing: 1.5rem;
}
#navbar #hamburger_content .hamburger_element .hamburger_element_eng {
  margin-left: 3vw;
  font-family: "Inter";
  font-size: 1rem;
  font-weight: 400;
  color: #62b6b7;
}
#navbar #hamburger_content .hamburger_element:hover {
  cursor: pointer;
}
#navbar #hamburger_content #hamburger_element_homepage {
  margin-top: 15vh;
}
#navbar #hamburger_content #hamburger_element_login {
  display: flex;
}
#navbar #hamburger_content #hamburger_element_logout {
  display: none;
}
#navbar #you_are_in_element {
  position: absolute;
  height: 60px;
  top: 20px;
  right: 25px;
  font-size: 1.5rem;
  color: #62b6b7;
  letter-spacing: 3px;
}

#functionbar {
  position: fixed;
  top: 65vh;
  margin-left: 1vw;
  z-index: 3;
}
#functionbar #cart_func {
  width: 4vw;
  height: 4vw;
  background-image: url("../src/funcbar_cart.png");
  background-position: center;
  background-size: cover;
}
#functionbar #cart_func:hover {
  cursor: pointer;
}
#functionbar #line_func {
  width: 4vw;
  height: 4vw;
  margin-top: 1vh;
  background-image: url("../src/funcbar_line.png");
  background-position: center;
  background-size: cover;
}
#functionbar #line_func:hover {
  cursor: pointer;
}
#functionbar #info_func {
  width: 4vw;
  height: 4vw;
  margin-top: 1vh;
  background-image: url("../src/funcbar_info.png");
  background-position: center;
  background-size: cover;
}
#functionbar #info_func:hover {
  cursor: pointer;
}

footer {
  margin-top: 10vh;
  bottom: 0;
  height: 10vh;
  display: flex;
  justify-content: space-around;
  align-items: center;
  background-color: #439a97;
}
footer #footer_brand_name {
  margin-left: 20vw;
}
footer #footer_brand_name p {
  font-size: 1.5rem;
}
footer #footer_fax {
  margin-right: 20vw;
}
footer p {
  color: white;
}

body.active {
  background: rgba(0, 0, 0, 0.54);
}

#navtab_container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
#navtab_container #text_container {
  display: flex;
  justify-content: center;
  align-items: center;
}
#navtab_container #text_container #style_container {
  margin-top: 90px;
  display: flex;
  justify-content: center;
  align-items: center;
}
#navtab_container #text_container #style_container * {
  margin-right: 18px;
  display: flex;
  align-items: center;
  height: 34px;
  margin-left: 50px;
  font-family: "Inter";
  font-size: 28px;
  font-weight: 400;
  line-height: 34px;
  letter-spacing: 0.5em;
  text-align: left;
}
#navtab_container #text_container #style_container *:nth-child(1) {
  margin-left: 18px;
}
#navtab_container #text_container #style_container .active {
  color: #62b6b7;
}
#navtab_container #text_container #style_container .inactive {
  color: #cbedd5;
}
#navtab_container #divider_container {
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin-top: 20px;
  width: 60vw;
}
#navtab_container #divider_container #divider_1 {
  width: 100%;
}
#navtab_container #divider_container #divider_2 {
  width: 100%;
}
#navtab_container #divider_container #divider_3 {
  width: 100%;
}
#navtab_container #divider_container .active {
  background-color: #62b6b7;
  height: 5px;
}
#navtab_container #divider_container .inactive {
  background-color: #cbedd5;
  height: 1px;
}

#video_popup_container {
  display: none;
  height: 502px;
  width: 100%;
  visibility: hidden;
  opacity: 0;
  transition: 0.5s;
}
#video_popup_container #camera_stream {
  width: 817px;
  height: 500px;
  justify-content: center;
  align-items: center;
}
#video_popup_container #face_api_canvas {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

#video_popup_container.active {
  display: flex;
  margin-top: 20px;
  flex-direction: column;
  height: 100%;
  width: 100%;
  justify-content: center;
  align-items: center;
  visibility: visible;
  opacity: 1;
  transition: 0.5s;
}

.description_button {
  padding-left: 20px;
  letter-spacing: 20px;
  height: 60px;
  display: flex;
  justify-content: center;
  border-radius: 10px;
  background-color: #faf8f8;
  border: 2px solid #62b6b7;
  align-items: center;
  margin-left: 20px;
  color: #62b6b7;
  font-family: "Inter";
  font-size: 28px;
  font-weight: 400;
  line-height: 34px;
  text-align: left;
}
.description_button:hover {
  background-color: #62b6b7;
  color: #ffffff;
  transition: 0.5s;
}

.chosen_button {
  background-color: #62b6b7;
  color: #ffffff;
  transition: 0.5s;
}

.active_button {
  margin-top: 10px;
  display: flex;
  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  font-size: 32px;
  line-height: 39px;
  letter-spacing: 0.8em;
  color: #ffffff;
  transition: 0.5s;
}

.inactive_button {
  display: none;
}

.active_button_result {
  display: flex;
  transition: 0.5s;
  margin-top: 5px;
  margin-bottom: 5px;
}

#styleflex_container {
  height: 50vh;
  margin-top: 4vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
#styleflex_container #first_style_container {
  margin-top: 56px;
  display: flex;
  justify-content: center;
  align-items: center;
}
#styleflex_container #second_style_container {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 26px;
}
#styleflex_container #third_style_container {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 26px;
}

#preferenceflex_container {
  height: 50vh;
  margin-top: 4vh;
  display: none;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
#preferenceflex_container #first_preference_container {
  width: 100%;
  margin-top: 56px;
}
#preferenceflex_container #second_preference_container {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 56px;
}
#preferenceflex_container #third_preference_container {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 26px;
}

#faceflex_container {
  height: 50vh;
  margin-top: 4vh;
  display: none;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
#faceflex_container #do_you_know_what_kinds_of_face {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 26px;
  display: flex;
  justify-content: center;
  height: 39px;
  align-items: center;
  color: #439a97;
  font-family: Inter;
  font-size: 32px;
  font-weight: 400;
  line-height: 38.73px;
  letter-spacing: 0.5em;
  text-align: left;
}
#faceflex_container #try_facial_scanning {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 26px;
  display: flex;
  justify-content: center;
  height: 39px;
  align-items: center;
  color: #439a97;
  font-family: "Inter";
  font-size: 32px;
  font-weight: 400;
  line-height: 38.73px;
  letter-spacing: 0.5em;
  text-align: left;
}
#faceflex_container #eigth_row_container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 200px;
  width: 200px;
  margin-top: 26px;
}
#faceflex_container #eigth_row_container #camera_img {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  background-image: url("../src/system-uicons_camera.png");
  background-repeat: no-repeat;
  background-size: cover;
}

.background_container {
  display: flex;
  justify-content: center;
  margin-top: 17px;
}
.background_container .style_background_text {
  display: flex;
  height: 155px;
  width: 414px;
  color: rgba(203, 237, 213, 0.4);
  font-family: Inter;
  font-size: 128px;
  font-weight: 700;
  line-height: 155px;
  letter-spacing: 0em;
  text-align: left;
}
.background_container .preference_background_text {
  display: flex;
  height: 155px;
  width: 830px;
  color: rgba(203, 237, 213, 0.4);
  font-family: Inter;
  font-size: 128px;
  font-weight: 700;
  line-height: 155px;
  letter-spacing: 0em;
  text-align: left;
}
.background_container .face_background_text {
  display: flex;
  height: 155px;
  width: 820px;
  color: rgba(203, 237, 213, 0.4);
  font-family: Inter;
  font-size: 128px;
  font-weight: 700;
  line-height: 155px;
  letter-spacing: 0em;
  text-align: left;
}

#next_button_container {
  margin-top: 6vh;
  margin-bottom: 214px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
#next_button_container #next_container #next_button {
  display: flex;
  height: 92px;
  width: 494px;
  border-radius: 20px;
  background-color: #97dece;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border: 2px solid #97dece;
  justify-content: center;
  align-items: center;
  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  font-size: 32px;
  line-height: 39px;
  letter-spacing: 0.5em;
  color: #ffffff;
}
#next_button_container #next_container #next_button:hover {
  background-color: #faf8f8;
  color: #ffffff;
  transition: 0.5s;
  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  font-size: 32px;
  line-height: 39px;
  letter-spacing: 0.5em;
  color: #97dece;
}
#next_button_container #next_container_2 #next_button_2 {
  display: flex;
  height: 92px;
  width: 494px;
  border-radius: 20px;
  background-color: #97dece;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border: 2px solid #97dece;
  justify-content: center;
  align-items: center;
  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  font-size: 32px;
  line-height: 39px;
  letter-spacing: 0.5em;
  color: #ffffff;
}
#next_button_container #next_container_2 #next_button_2:hover {
  background-color: #faf8f8;
  color: #ffffff;
  transition: 0.5s;
  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  font-size: 32px;
  line-height: 39px;
  letter-spacing: 0.5em;
  color: #97dece;
}
#next_button_container #next_container_3 #next_button_3 {
  display: flex;
  height: 92px;
  width: 494px;
  border-radius: 20px;
  background-color: #97dece;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border: 2px solid #97dece;
  justify-content: center;
  align-items: center;
  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  font-size: 32px;
  line-height: 39px;
  letter-spacing: 0.5em;
  color: #ffffff;
}
#next_button_container #next_container_3 #next_button_3:hover {
  background-color: #faf8f8;
  color: #ffffff;
  transition: 0.5s;
  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  font-size: 32px;
  line-height: 39px;
  letter-spacing: 0.5em;
  color: #97dece;
}
#next_button_container #succed {
  display: flex;
  position: relative;
  bottom: 101px;
  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 24px;
  letter-spacing: 0.5em;
  margin-top: 36px;
  color: #97dece;
}
#next_button_container #succed.inactive_succed {
  display: none;
}
#next_button_container #next_container_4 #next_button_4 {
  display: flex;
  position: relative;
  bottom: 101px;
  height: 92px;
  width: 494px;
  border-radius: 20px;
  background-color: #97dece;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border: 2px solid #97dece;
  justify-content: center;
  align-items: center;
  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  font-size: 32px;
  line-height: 39px;
  letter-spacing: 0.5em;
  color: #ffffff;
}
#next_button_container #next_container_4 #next_button_4:hover {
  background-color: #faf8f8;
  color: #ffffff;
  transition: 0.5s;
  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  font-size: 32px;
  line-height: 39px;
  letter-spacing: 0.5em;
  color: #97dece;
}
#next_button_container #other_container {
  display: flex;
  justify-content: space-around;
  width: 494px;
  align-items: center;
  margin-top: 9px;
}
#next_button_container #other_container * {
  height: 40px;
  width: 242px;
  margin-top: 9px;
  padding-left: 0.4em;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid #d9d9d9;
  font-family: "Inter";
  background: #d9d9d9;
  border-radius: 20px;
  font-style: normal;
  font-weight: 400;
  font-size: 32px;
  line-height: 39px;
  letter-spacing: 0.4em;
  color: #faf8f8;
}
#next_button_container #other_container *:hover {
  background-color: #faf8f8;
  color: #ffffff;
  transition: 0.5s;
  font-style: normal;
  font-weight: 400;
  font-size: 32px;
  line-height: 39px;
  color: #d9d9d9;
}

#next_button_container.container_result {
  display: flex;
  margin-top: 1px;
  margin-bottom: 1px;
}

#resultflex_container {
  height: 800px;
  top: 48px;
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: center;
}
#resultflex_container #image_result_container {
  display: flex;
  height: 413px;
  width: 430px;
}
#resultflex_container #your_pic_container {
  display: flex;
  position: relative;
  top: 36px;
  justify-content: center;
  align-items: center;
}
#resultflex_container #your_pic_container #your_pic_text {
  height: 39px;
  width: 400px;
  display: flex;
  font-family: "Inter";
  font-size: 32px;
  font-weight: 400;
  line-height: 38.73px;
  text-align: left;
  color: #62b6b7;
  letter-spacing: 20px;
}
#resultflex_container #your_pic_container #all_face_button {
  height: 65px;
  width: 65px;
  left: 33px;
  display: flex;
  background-color: #ffffff;
  border-radius: 50px;
  border: 1px solid #ffffff;
  background: rgba(255, 255, 255, 0.2);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  background-image: url("../src/material-symbols_face.png");
  background-repeat: no-repeat;
  background-position: center;
}
#resultflex_container #your_pic_container #all_face_button:hover {
  cursor: pointer;
}
#resultflex_container #your_pic_container #all_face_container {
  display: none;
  align-items: center;
  justify-content: space-around;
  position: absolute;
  margin-top: 20vh;
  padding-bottom: 5vh;
  height: 130vh;
  width: 50vw;
  background-color: #ffffff;
}
#resultflex_container #your_pic_container #all_face_container #all_face_leftpart {
  background-image: url("../src/all_face_leftpart.png");
  background-size: contain;
  background-repeat: no-repeat;
  background-position: left;
  height: 100%;
  width: 40%;
}
#resultflex_container #your_pic_container #all_face_container #all_face_rightpart {
  background-image: url("../src/all_face_rightpart.png");
  background-size: contain;
  background-repeat: no-repeat;
  background-position: right;
  height: 100%;
  width: 40%;
}
#resultflex_container #button_pic {
  display: flex;
  position: relative;
  height: 60px;
  width: 200px;
  border-radius: 10px;
  background-color: #62b6b7;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border: 2px solid #62b6b7;
  justify-content: center;
  align-items: center;
  padding-left: 20px;
  top: 36px;
  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  font-size: 28px;
  line-height: 34px;
  letter-spacing: 0.5em;
  color: #faf8f8;
  top: 56px;
}

#resultflex_container.result_inactive {
  display: none;
}

/*# sourceMappingURL=style_recomendation.css.map */
