* {
    margin: 0;
}

html {
    width: 100vw;
    // overflow-x: hidden;
}

body {
    position: relative;
}

#navbar {
    position: relative;

    #hamburger_icon {
        position: absolute;
    }
    #hamburger_content {
        position: absolute;
        opacity: 0;
        left: 0;
        height: 100vh;
        width: 65vw;
        .hamburger_element {
            display: flex;
        }
    }
    

    // #hambuger_close {

    // }
}

#functionbar {
    position: fixed;
    top: 60vh;
}

#

#homepage_background {
    height: 100vh;
    width: 100vw;
    background-image: url("../src/homepage_backgnd.jpg");
    background-size: cover;
}





footer {
    position: absolute;
    bottom: 0;

    display: flex;
    justify-content: space-around;
}


#footer_brand_name {
    margin-left: 10vw;
}
#footer_fax {
    margin-right: 10vw;
}