//-------------------- general ---------------------//
* {
    margin: 0;
    padding: 0;
}
html {
    width: 100vw;
    overflow-x: hidden;
}
body {
    position: relative;
    background-color: #faf8f8;
}

#navbar {
    position: relative;

    #hamburger_icon {
        position: absolute;
        width: 60px;
        height: 60px;
        top: 15px;
        left: 25px;
        z-index: 3;

        background-image: url("../src/hamburger_icon.png");
        background-position: center;
        background-size: contain;
        background-repeat: no-repeat;
    }
    #hamburger_icon:hover {
        cursor: pointer;
    }

    #hamburger_content_shadow {
        display: none;
        position: fixed;
        height: 100vh;
        width: 100vw;

        background-color: black;
        opacity: 0.7;
        z-index: 4;
    }
    #hamburger_content {
        position: fixed;
        display: none;
        left: 0;
        height: 100vh;
        width: 65vw;
        z-index: 10;

        background-color: white;
        user-select: none;

        #hamburger_close {
            position: absolute;
            top: 12px;
            left: 19.5px;
            width: 70px;
            height: 70px;

            background-image: url("../src/hamburger_close.png");
            background-position: center;
            background-size: cover;
            background-repeat: no-repeat;
        }
        #hamburger_close:hover {
            cursor: pointer;
        }

        .hamburger_element {
            margin-left: 10vw;
            display: flex;
            align-items: center;
            margin-top: 10vh;

            .hamburger_element_zsh {
                font-family: "Inter", sans-serif;
                font-size: 2rem;
                color: #62b6b7;
                letter-spacing: 1.5rem;
            }
            .hamburger_element_eng {
                margin-left: 3vw;
                font-family: "Inter", sans-serif;
                font-size: 1rem;
                font-weight: 400;
                color: #62b6b7;
            }

            &:hover {
                cursor: pointer;
            }
        }

        #hamburger_element_homepage {
            margin-top: 15vh;
        }

        #hamburger_element_login {
            display: flex;
        }

        #hamburger_element_logout {
            display: none;
        }
    }

    #you_are_in_element {
        position: absolute;
        height: 60px;
        top: 20px;
        right: 25px;
        font-size: 1.5rem;
        color: #62b6b7;
        letter-spacing: 3px;
        font-family: "Inter", sans-serif;
    }
}

#functionbar {
    position: fixed;
    top: 65vh;
    margin-left: 1vw;
    z-index: 3;

    #cart_func {
        width: 4vw;
        height: 4vw;
        background-image: url("../src/funcbar_cart.png");
        background-position: center;
        background-size: cover;
    }
    #cart_func:hover {
        cursor: pointer;
    }
    #line_func {
        width: 4vw;
        height: 4vw;
        margin-top: 1vh;
        background-image: url("../src/funcbar_line.png");
        background-position: center;
        background-size: cover;
    }
    #line_func:hover {
        cursor: pointer;
    }
    #info_func {
        width: 4vw;
        height: 4vw;
        margin-top: 1vh;
        background-image: url("../src/funcbar_info.png");
        background-position: center;
        background-size: cover;
    }
    #info_func:hover {
        cursor: pointer;
    }
}

footer {
    margin-top: 10vh;
    bottom: 0;
    height: 10vh;

    display: flex;
    justify-content: space-around;
    align-items: center;

    background-color: #439a97;
    #footer_brand_name {
        margin-left: 20vw;
        p {
            font-size: 1.5rem;
        }
    }
    #footer_fax {
        margin-right: 20vw;
    }

    p {
        color: white;
    }
}

//--------------------------------------------------//

#main_container {
    display: flex;
    padding-top: 10vh;
}

#left_container {
    width: 60vw;
    padding-top: 10vh;

    #section_container {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-wrap: wrap;
        overflow: hidden;
        width: 100%;
    }

    #product_container {
        display: flex;
        justify-content: center;
        align-items: top;
        flex-wrap: wrap;
        width: 90%;
        margin-left: 10%;

        .product_element {
            display: flex;
            justify-content: center;
            align-items: center;
            width: 100%;
            height: 20vh;
            background: #ffffff;

            .glasses_pic {
                width: 25%;
                object-fit: cover; /* Scale the image so it covers whole area, thus will likely crop */
                object-position: center;
            }
            .glasses_text {
                width: 25%;

                .glasses_name {
                    color: #000000;
                    opacity: 0.8;

                    font-family: "Inter", sans-serif;
                    font-style: normal;
                    font-weight: 700;
                    font-size: 24px;
                    letter-spacing: 0.1em;
                }
                .glasses_description {
                    color: #000000;
                    opacity: 0.8;

                    font-family: "Inter", sans-serif;
                    font-style: normal;
                    font-weight: 400;
                    font-size: 24px;
                    letter-spacing: 0.1em;
                }
            }
            .glasses_price {
                width: 25%;

                color: #000000;
                opacity: 0.8;

                font-family: "Inter", sans-serif;
                font-style: normal;
                font-weight: 400;
                font-size: 24px;
                letter-spacing: 0.1em;
            }
            .delete_icon {
                width: 25%;
                object-fit: cover;
                object-position: center;
            }
        }
    }
    #keyin_container {
        display: flex;
        align-items: top;
        flex-wrap: wrap;
        width: 90%;
        margin-left: 10%;
    }
    #complete_container {
        display: flex;
        align-items: top;
        flex-wrap: wrap;
        width: 90%;
        margin-left: 10%;
    }
}

#right_container {
    width: 40vw;
    padding-top: 10vh;
    h1 {
        margin-left: 10vw;
        margin-right: 10vw;
    }
    #item_price {
        margin-top: 3vh;
        margin-left: 10vw;
        margin-right: 10vw;
    }
    #shipping_fee {
        margin-top: 1vh;
        margin-left: 10vw;
        margin-right: 10vw;
    }
    #total_price {
        margin-top: 5vh;
        margin-left: 10vw;
        margin-right: 10vw;
    }
    #button_container {
        margin-top: 5vh;
        display: flex;
        flex-direction: column;
        align-items: center;
        #order_button {
            width: 50%;
            margin-left: 10vw;
            margin-right: 10vw;
        }
        #problem_button {
            width: 50%;
            margin-left: 10vw;
            margin-right: 10vw;
        }
    }
    #payment_type {
        margin-top: 5vh;
        margin-left: 10vw;
        margin-right: 10vw;
    }
    #credit_card_img {
        display: flex;
        justify-content: space-between;
        align-items: center;
        width: 100%;
        #visa_img {
        }
        #mastercard_img {
        }
        #jcb_image {
        }
    }
}
