* {
    margin: 0;
}

html {
    width: 100vw;
    // overflow-x: hidden;
}

body {
    position: relative;
}

#navbar {
    position: relative;

    #hamburger_icon {
        position: absolute;
        width: 5vw;
        height: 10vh;

        background-image: url("../src/hamburger_icon.png");
        background-position: center;
        background-size: contain;
    }
    #hamburger_content {
        position: absolute;
        opacity: 0;
        left: 0;
        height: 100vh;
        width: 65vw;
        .hamburger_element {
            display: flex;
        }
    }
}

#functionbar {
    position: fixed;
    top: 60vh;
}

#scrollbar {
    #scroll_icon {
        position: absolute;
        top: 80vh;
        right: 1vw;
        width: 20px;
        height: 20vh;
        z-index: 2;

        background-image: url(../src/scrollbar.png);
        background-size: cover;
        background-position: center;
    }
    #tri_after_bar{
        position: absolute;
        top: 77vh;
        width: 0;
        height: 0;
        z-index: 1;


        border-style: solid;
        border-width: 0 0 23vh 100vw;
        border-color: transparent transparent gray transparent;
    }
}



#homepage_background {
    height: 100vh;
    width: 100vw;
    background-image: url("../src/homepage_backgnd.jpg");
    background-position: center;
    background-size: cover;
}





footer {
    position: absolute;
    bottom: 0;

    display: flex;
    justify-content: space-around;
}


#footer_brand_name {
    margin-left: 10vw;
}
#footer_fax {
    margin-right: 10vw;
}