* {
  margin: 0;
  padding: 0;
}

html {
  width: 100vw;
  overflow-x: hidden;
}

body {
  position: relative;
  background-color: #faf8f8;
}

#navbar {
  position: relative;
}
#navbar #hamburger_icon {
  position: absolute;
  width: 60px;
  height: 60px;
  top: 15px;
  left: 25px;
  z-index: 3;
  background-image: url("../src/hamburger_icon.png");
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
}
#navbar #hamburger_icon:hover {
  cursor: pointer;
}
#navbar #hamburger_content_shadow {
  display: none;
  position: fixed;
  height: 100vh;
  width: 100vw;
  background-color: black;
  opacity: 0.7;
  z-index: 4;
}
#navbar #hamburger_content {
  position: fixed;
  display: none;
  left: 0;
  height: 100vh;
  width: 65vw;
  z-index: 10;
  background-color: white;
  user-select: none;
}
#navbar #hamburger_content #hamburger_close {
  position: absolute;
  top: 12px;
  left: 19.5px;
  width: 70px;
  height: 70px;
  background-image: url("../src/hamburger_close.png");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}
#navbar #hamburger_content #hamburger_close:hover {
  cursor: pointer;
}
#navbar #hamburger_content .hamburger_element {
  margin-left: 10vw;
  display: flex;
  align-items: center;
  margin-top: 13vh;
}
#navbar #hamburger_content .hamburger_element .hamburger_element_zsh {
  font-size: 2rem;
  color: #62B6B7;
  letter-spacing: 1.5rem;
}
#navbar #hamburger_content .hamburger_element .hamburger_element_eng {
  margin-left: 3vw;
  font-size: 1rem;
  color: #62B6B7;
}
#navbar #hamburger_content .hamburger_element:hover {
  cursor: pointer;
}
#navbar #hamburger_content #hamburger_element_homepage {
  margin-top: 15vh;
}

#functionbar {
  position: fixed;
  top: 65vh;
  margin-left: 1vw;
  z-index: 3;
}
#functionbar #cart_func {
  width: 4vw;
  height: 4vw;
  background-image: url("../src/funcbar_cart.png");
  background-position: center;
  background-size: cover;
}
#functionbar #cart_func:hover {
  cursor: pointer;
}
#functionbar #line_func {
  width: 4vw;
  height: 4vw;
  margin-top: 1vh;
  background-image: url("../src/funcbar_line.png");
  background-position: center;
  background-size: cover;
}
#functionbar #line_func:hover {
  cursor: pointer;
}
#functionbar #info_func {
  width: 4vw;
  height: 4vw;
  margin-top: 1vh;
  background-image: url("../src/funcbar_info.png");
  background-position: center;
  background-size: cover;
}
#functionbar #info_func:hover {
  cursor: pointer;
}

#scrollbar #scroll_icon {
  position: absolute;
  top: 86vh;
  right: 1.5vw;
  width: 10px;
  height: 10vh;
  z-index: 2;
  background-image: url(../src/scrollbar.png);
  background-size: cover;
  background-position: center;
}
#scrollbar #tri_after_bar {
  position: absolute;
  top: 81vh;
  width: 0;
  height: 0;
  z-index: 1;
  border-style: solid;
  border-width: 0 0 19vh 100vw;
  border-color: transparent transparent #faf8f8 transparent;
}

#homepage_background_frame {
  height: 100vh;
  width: 100vw;
  overflow-y: hidden;
}
#homepage_background_frame #homepage_background {
  height: 100vh;
  width: 100vw;
  background-image: url("../src/homepage_backgnd1.jpg");
  background-position: center;
  background-size: cover;
  overflow: hidden;
}

#homepage_banner {
  position: absolute;
  top: 30vh;
  left: 10vw;
  height: 300px;
  width: 400px;
  background-image: url("../src/homepage_banner.png");
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
  z-index: 3;
}

#personalized_recommend_banner {
  margin-top: 10vh;
}
#personalized_recommend_banner #personalized_recommend {
  display: flex;
  justify-content: center;
  align-items: center;
}
#personalized_recommend_banner #personalized_recommend #personalized_recommend_left_line {
  height: 5px;
  width: 100px;
  background-color: #62B6B7;
  margin-right: 50px;
}
#personalized_recommend_banner #personalized_recommend p {
  color: #62B6B7;
  font-size: 2.5rem;
  font-family: "Inter", sans-serif;
}
#personalized_recommend_banner #personalized_recommend #personalized_recommend_right_line {
  height: 5px;
  width: 100px;
  background-color: #62B6B7;
  margin-left: 50px;
}
#personalized_recommend_banner #personalized_recommend_zsh {
  display: flex;
  justify-content: center;
  margin-top: 2vh;
}
#personalized_recommend_banner #personalized_recommend_zsh p {
  font-size: 2.3rem;
  color: #62B6B7;
  font-family: "Inter", sans-serif;
  letter-spacing: 1.5rem;
  padding-left: 1.5rem;
}
#personalized_recommend_banner #choose_your_own_glasses {
  display: flex;
  justify-content: center;
}
#personalized_recommend_banner #choose_your_own_glasses p {
  font-size: 1.5rem;
  color: #62B6B7;
  font-family: "Inter", sans-serif;
  letter-spacing: 0.8rem;
  padding-left: 0.8rem;
}

#cards {
  margin-top: 5vh;
  display: flex;
  justify-content: space-around;
  height: 60vh;
  width: 100vw;
}
#cards * {
  height: 100%;
  width: 27%;
}
#cards :nth-child(1) {
  margin-left: 10%;
  background-image: url("../src/homepage_card1.png");
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
}
#cards :nth-child(2) {
  background-image: url("../src/homepage_card2.png");
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
}
#cards :nth-child(3) {
  margin-right: 10%;
  background-image: url("../src/homepage_card3.png");
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
}

#start_banner {
  margin-top: 10vh;
}
#start_banner #start_your_personalized_recommendation {
  display: flex;
  justify-content: center;
  padding-left: 0.8rem;
}
#start_banner #start_your_personalized_recommendation p {
  font-size: 1.5rem;
  color: #97DECE;
  font-family: "Inter", sans-serif;
  letter-spacing: 0.8rem;
}
#start_banner #start_button {
  height: 100px;
  width: 30vw;
  margin-top: 3vh;
  margin-left: 35vw;
  margin-right: 35vw;
  border: none;
  display: flex;
  justify-content: center;
  background-color: #97DECE;
  border-radius: 20px;
  display: flex;
  align-items: center;
  color: white;
  font-size: 2rem;
  font-family: "Inter", sans-serif;
  letter-spacing: 0.8rem;
}
#start_banner #start_button:hover {
  cursor: pointer;
}

footer {
  margin-top: 10vh;
  bottom: 0;
  height: 10vh;
  display: flex;
  justify-content: space-around;
  align-items: center;
  background-color: #439A97;
}
footer #footer_brand_name {
  margin-left: 20vw;
}
footer #footer_brand_name p {
  font-size: 1.5rem;
}
footer #footer_fax {
  margin-right: 20vw;
}
footer p {
  color: white;
}

/*# sourceMappingURL=style.css.map */
