//-------------------- general ---------------------//
* {
    margin: 0;
    padding: 0;
}
html {
    width: 100vw;
    overflow-x: hidden;
}
body {
    position: relative;
    background-color: #faf8f8;
}

#navbar {
    position: relative;

    #hamburger_icon {
        position: absolute;
        width: 60px;
        height: 60px;
        top: 15px;
        left: 25px;
        z-index: 3;

        background-image: url("../src/hamburger_icon.png");
        background-position: center;
        background-size: contain;
        background-repeat: no-repeat;
    }
    #hamburger_icon:hover {
        cursor: pointer;
    }

    #hamburger_content_shadow {
        display: none;
        position: fixed;
        height: 100vh;
        width: 100vw;

        background-color: black;
        opacity: 0.7;
        z-index: 4;
    }
    #hamburger_content {
        position: fixed;
        display: none;
        left: 0;
        height: 100vh;
        width: 65vw;
        z-index: 10;

        background-color: white;
        user-select: none;

        #hamburger_close {
            position: absolute;
            top: 12px;
            left: 19.5px;
            width: 70px;
            height: 70px;

            background-image: url("../src/hamburger_close.png");
            background-position: center;
            background-size: cover;
            background-repeat: no-repeat;
        }
        #hamburger_close:hover {
            cursor: pointer;
        }

        .hamburger_element {
            margin-left: 10vw;
            display: flex;
            align-items: center;
            margin-top: 10vh;

            .hamburger_element_zsh {
                font-size: 2rem;
                color: #62b6b7;
                letter-spacing: 1.5rem;
            }
            .hamburger_element_eng {
                margin-left: 3vw;
                font-family: "Inter";
                font-size: 1rem;
                font-weight: 400;
                color: #62b6b7;
            }

            &:hover {
                cursor: pointer;
            }
        }

        #hamburger_element_homepage {
            margin-top: 15vh;
        }

        #hamburger_element_login {
            display: flex;
        }

        #hamburger_element_logout {
            display: none;
        }
    }
    #you_are_in_element {
        position: absolute;
        height: 60px;
        top: 20px;
        right: 25px;
        font-size: 1.5rem;
        color: #62b6b7;
        letter-spacing: 3px;
    }
}

#functionbar {
    position: fixed;
    top: 65vh;
    margin-left: 1vw;
    z-index: 3;

    #cart_func {
        width: 4vw;
        height: 4vw;
        background-image: url("../src/funcbar_cart.png");
        background-position: center;
        background-size: cover;
    }
    #cart_func:hover {
        cursor: pointer;
    }
    #line_func {
        width: 4vw;
        height: 4vw;
        margin-top: 1vh;
        background-image: url("../src/funcbar_line.png");
        background-position: center;
        background-size: cover;
    }
    #line_func:hover {
        cursor: pointer;
    }
    #info_func {
        width: 4vw;
        height: 4vw;
        margin-top: 1vh;
        background-image: url("../src/funcbar_info.png");
        background-position: center;
        background-size: cover;
    }
    #info_func:hover {
        cursor: pointer;
    }
}

footer {
    margin-top: 10vh;
    bottom: 0;
    height: 10vh;

    display: flex;
    justify-content: space-around;
    align-items: center;

    background-color: #439a97;
    #footer_brand_name {
        margin-left: 20vw;
        p {
            font-size: 1.5rem;
        }
    }
    #footer_fax {
        margin-right: 20vw;
    }

    p {
        color: white;
    }
}

#QR-codeWrapper {
    position: fixed;
    background-color: blue;
    top: 100px;
    bottom: 4rem;
    background: rgba(250, 248, 248, 0.5);
    border: 1px solid #ffffff;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    backdrop-filter: blur(7.5px);
    border-radius: 42px;
    bottom: 1rem;
    left: 8rem;
    width: 372px;
    height: 474px;
    z-index: 4;
    #QR-content {
        display: flex;
        height: 100%;
        width: 100%;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        #closeQRCode {
            position: absolute;
            width: 12.25px;
            height: 12.25px;
            top: 26.46px;
            left: 329.46px;
            background-image: url("../src/Vector.png");
            background-position: center;
            background-size: contain;
            background-repeat: no-repeat;
        }
        #closeQRCode:hover {
            cursor: pointer;
        }
        #title {
            position: absolute;
            top: 64px;
            font-family: "Inter";
            font-style: normal;
            font-weight: 700;
            font-size: 28px;
            line-height: 34px;
            /* identical to box height */
            letter-spacing: 0.5em;
            color: #439a97;
        }
        #subtitle {
            position: absolute;
            top: 110px;
            font-family: "Inter";
            font-style: normal;
            font-weight: 700;
            font-size: 16px;
            line-height: 19px;
            letter-spacing: 0.5em;

            color: #62b6b7;
        }
        #QRCodeImage {
            position: absolute;
            top: 144px;
            width: 200px;
            height: 200px;
            background-image: url("https://qr-official.line.me/gs/M_736wdmqa_BW.png");
            background-position: center;
            background-size: contain;
            background-repeat: no-repeat;
        }
        #Text_1 {
            position: absolute;
            top: 362px;
            font-family: "Inter";
            font-style: normal;
            font-weight: 700;
            font-size: 16px;
            line-height: 19px;
            text-align: center;
            letter-spacing: 0.5em;

            color: #62b6b7;
        }
        #Text_2 {
            position: absolute;
            top: 392px;
            font-family: "Inter";
            font-style: normal;
            font-weight: 400;
            font-size: 14px;
            line-height: 17px;
            /* identical to box height */

            text-align: center;
            letter-spacing: 0.2em;

            color: #62b6b7;
        }
    }
}
#QR-codeWrapper.inactive {
    display: none;
}

//--------------------------------------------------//

#you_choose {
    display: flex;
    align-items: center;
    justify-content: center;

    padding-top: 15vh;

    font-family: "Inter", sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 25px;
    line-height: 30px;
    letter-spacing: 0.5em;
    color: #62b6b7;
}

#button_chosen {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 5vh;
    padding-left: 15%;
    padding-right: 15%;
    flex-wrap: wrap;

    .button_chosen_element {
        margin-left: 15px;
        margin-right: 15px;
        margin-top: 10px;
        padding-left: 20px;
        letter-spacing: 20px;
        height: 60px;

        display: flex;
        justify-content: center;
        align-items: center;

        border-radius: 10px;
        background-color: #62b6b7;
        color: #ffffff;
        border: 2px solid #62b6b7;

        font-family: "Inter";
        font-size: 28px;
        font-weight: 400;
        line-height: 34px;
        text-align: left;
    }
}

#these_are_what_you_chose {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 13vh;

    font-family: "Inter", sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 25px;
    line-height: 30px;
    letter-spacing: 0.5em;
    color: #62b6b7;
}

#item_frame {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;

    .item_element {
        position: relative;

        width: 350px;
        height: 440px;
        margin-left: 22px;
        margin-right: 22px;
        margin-top: 10vh;
        background: #ffffff;
        box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);

        .glasses_pic {
            margin-top: 37px;
            object-fit: cover; /* Scale the image so it covers whole area, thus will likely crop */
            object-position: center;
            margin-left: 10%;
            width: 80%;
            height: 200px;
        }

        .glasses_text {
            width: 100%;

            .glasses_name {
                display: flex;
                justify-content: center;
                align-items: center;

                color: #000000;
                opacity: 0.8;

                font-family: "Inter", sans-serif;
                font-weight: 400;
                font-size: 24px;
                letter-spacing: 0.1em;
            }

            .glasses_description {
                display: flex;
                justify-content: center;
                align-items: center;
                margin-top: 2px;

                color: #000000;
                opacity: 0.3;

                font-family: "Inter", sans-serif;
                font-weight: 400;
                font-size: 20px;
                letter-spacing: 0.1em;
            }
        }

        .glasses_price {
            display: flex;
            justify-content: center;
            align-items: center;
            margin-top: 65px;

            color: #000000;
            opacity: 0.8;

            font-family: "Inter";
            font-weight: 400;
            font-size: 24px;
            letter-spacing: 0.1em;
        }

        .cart_icon {
            position: absolute;
            bottom: 10px;
            right: 10px;
            display: flex;
            justify-content: center;
            align-items: center;
            object-fit: cover; /* Scale the image so it covers whole area, thus will likely crop */
            object-position: center;
            width: 44px;
            height: 44px;

            &:hover {
                cursor: pointer;
            }
        }
    }
}

#button_container {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 10vh;
    flex-direction: column;

    #reselect_button {
        display: flex;
        justify-content: center;
        align-items: center;

        height: 92px;
        width: 494px;
        border-radius: 20px;
        background-color: #97dece;
        box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
        border: 2px solid #97dece;

        font-family: "Inter";
        font-style: normal;
        font-weight: 400;
        font-size: 32px;
        line-height: 39px;
        letter-spacing: 0.5em;
        color: #ffffff;

        &:hover {
            background-color: #faf8f8;
            color: #ffffff;
            transition: 0.5s;
            font-family: "Inter";
            font-style: normal;
            font-weight: 400;
            font-size: 32px;
            line-height: 39px;
            letter-spacing: 0.5em;
            color: #97dece;
        }
    }

    #go_back_to_index {
        display: flex;
        justify-content: center;
        align-items: center;
        margin-top: 5vh;

        height: 92px;
        width: 494px;
        border-radius: 20px;
        background-color: #97dece;
        box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
        border: 2px solid #97dece;

        font-family: "Inter";
        font-style: normal;
        font-weight: 400;
        font-size: 32px;
        line-height: 39px;
        letter-spacing: 0.5em;
        color: #ffffff;

        &:hover {
            background-color: #faf8f8;
            color: #ffffff;
            transition: 0.5s;
            font-family: "Inter";
            font-style: normal;
            font-weight: 400;
            font-size: 32px;
            line-height: 39px;
            letter-spacing: 0.5em;
            color: #97dece;
        }
    }
}
