//-------------------- general ---------------------//
* {
    margin: 0;
    padding: 0;
}
html {
    width: 100vw;
    overflow-x: hidden;
}
body {
    position: relative;
    background-color: #faf8f8;
}

#navbar {
    position: relative;

    #hamburger_icon {
        position: absolute;
        width: 60px;
        height: 60px;
        top: 15px;
        left: 25px;
        z-index: 3;

        background-image: url("../src/hamburger_icon.png");
        background-position: center;
        background-size: cover;
        background-repeat: no-repeat;
    }
    #hamburger_icon:hover {
        cursor: pointer;
    }

    #hamburger_content_shadow {
        display: none;
        position: fixed;
        height: 100vh;
        width: 100vw;

        background-color: black;
        opacity: 0.7;
        z-index: 4;
    }
    #hamburger_content {
        position: fixed;
        display: none;
        left: 0;
        height: 100vh;
        width: 65vw;
        z-index: 10;

        background-color: white;
        user-select: none;

        #hamburger_close {
            position: absolute;
            top: 12px;
            left: 19.5px;
            width: 70px;
            height: 70px;

            background-image: url("../src/hamburger_close.png");
            background-position: center;
            background-size: cover;
            background-repeat: no-repeat;
        }
        #hamburger_close:hover {
            cursor: pointer;
        }

        .hamburger_element {
            margin-left: 10vw;
            display: flex;
            align-items: center;
            margin-top: 10vh;

            .hamburger_element_zsh {
                font-size: 2rem;
                color: #62b6b7;
                letter-spacing: 1.5rem;
            }
            .hamburger_element_eng {
                margin-left: 3vw;
                font-family: "Inter";
                font-size: 1rem;
                font-weight: 400;
                color: #62b6b7;
            }

            &:hover {
                cursor: pointer;
            }
        }

        #hamburger_element_homepage {
            margin-top: 15vh;
        }

        #hamburger_element_login {
            display: flex;
        }

        #hamburger_element_logout {
            display: none;
        }
    }

    #you_are_in_element {
        position: absolute;
        height: 60px;
        top: 20px;
        right: 25px;
        font-size: 1.5rem;
        color: #62b6b7;
        letter-spacing: 3px;
    }
}

#functionbar {
    position: fixed;
    top: 65vh;
    margin-left: 1vw;
    z-index: 3;

    #cart_func {
        width: 4vw;
        height: 4vw;
        background-image: url("../src/funcbar_cart.png");
        background-position: center;
        background-size: cover;
    }
    #cart_func:hover {
        cursor: pointer;
    }
    #line_func {
        width: 4vw;
        height: 4vw;
        margin-top: 1vh;
        background-image: url("../src/funcbar_line.png");
        background-position: center;
        background-size: cover;
    }
    #line_func:hover {
        cursor: pointer;
    }
    #info_func {
        width: 4vw;
        height: 4vw;
        margin-top: 1vh;
        background-image: url("../src/funcbar_info.png");
        background-position: center;
        background-size: cover;
    }
    #info_func:hover {
        cursor: pointer;
    }
}

footer {
    margin-top: 10vh;
    bottom: 0;
    height: 10vh;

    display: flex;
    justify-content: space-around;
    align-items: center;

    background-color: #439a97;
    #footer_brand_name {
        margin-left: 20vw;
        p {
            font-size: 1.5rem;
        }
    }
    #footer_fax {
        margin-right: 20vw;
    }

    p {
        color: white;
    }
}
//--------------------------------------------------//

#scrollbar #scroll_icon {
    position: absolute;
    top: 86vh;
    right: 1.5vw;
    width: 10px;
    height: 10vh;
    z-index: 2;
    background-image: url(../src/scrollbar.png);
    background-size: cover;
    background-position: center;
}

#slide_frame {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: 376px;
    overflow: hidden;
    padding-top: 5vh;

    #slide {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 83vw;
        height: 376px;
        left: 16vw;
        margin-top: 127px;
        background-image: url("../src/shop_backgnd1.png");
        background-position: center;
        background-size: cover;
        overflow: hidden;
    }
}

#location_frame {
    display: flex;
    width: 100vw;
    height: 376px;
    overflow: hidden;
    padding-top: 5vh;

    #location_text_container {
        width: 50%;
        height: 100%;
        display: flex;
        flex-direction: column;
        text-align: left;
        vertical-align: middle;
        justify-content: center;
        align-items: left;

        #address_title {
            margin-left: 10vw;
            font-family: "Inter", sans-serif;
            font-style: normal;
            font-weight: 400;
            font-size: 28px;
            line-height: 34px;
            letter-spacing: 0.5em;
            color: #62b6b7;
        }

        #address_content {
            margin-left: 10vw;
            font-family: "Inter", sans-serif;
            font-style: normal;
            font-weight: 400;
            font-size: 20px;
            line-height: 24px;
            color: rgba(0, 0, 0, 0.54);
        }

        #contact_title {
            margin-left: 10vw;
            font-family: "Inter", sans-serif;
            font-style: normal;
            font-weight: 400;
            font-size: 28px;
            line-height: 34px;
            letter-spacing: 0.5em;
            color: #62b6b7;
        }

        #contact_content {
            font-family: "Inter", sans-serif;
            font-style: normal;
            margin-left: 10vw;
            font-weight: 400;
            font-size: 20px;
            line-height: 24px;
            color: rgba(0, 0, 0, 0.54);
        }
    }

    #location_map {
        width: 50%;
        height: 100%;
        margin-right: 8.3vw;
        background-image: url("../src/shop_map.png");
        background-position: right;
        background-size: cover;
        background-repeat: no-repeat;
    }
}

#about {
    width: 86vw;
    height: 10vh;
    margin-left: 7vw;
    margin-right: 7vw;
    margin-top: 5vh;

    width: 100%;
    height: 100%;
    background-image: url("../src/shop_about_glassses_shop.png");
    background-position: center;
    background-size: cover;
    overflow: hidden;

    #about_header {
        font-family: "Inter", sans-serif;
        font-style: normal;
        font-weight: 400;
        font-size: 25px;
        line-height: 30px;
        letter-spacing: 0.5em;
        color: #62b6b7;
    }

    #about_text {
        text-align: center;
        vertical-align: middle;
        justify-content: center;
        align-items: center;
        background-color: #f1f0f0;
    }
}

.card_frame {
    display: flex;
    width: 100vw;
    height: 215px;
    overflow: hidden;
    padding-top: 10vh;
}

#left_card_equipment {
    width: 50%;
    height: 100%;
    margin-left: 7vw;

    background-image: url("../src/shop_equipment.png");
    background-position: left;
    background-size: cover;
    background-repeat: no-repeat;
    overflow: hidden;
}
#right_card_equipment {
    width: 50%;
    height: 100%;
    margin-right: 7vw;

    display: flex;
    flex-direction: column;
    text-align: center;
    vertical-align: middle;
    justify-content: center;
    align-items: center;
    background-color: #f1f0f0;

    #equipment_title {
        font-family: "Inter", sans-serif;
        font-style: normal;
        font-weight: 400;
        font-size: 25px;
        line-height: 30px;
        letter-spacing: 0.5em;
        color: #62b6b7;
    }

    #equipment_content {
        font-family: "Inter", sans-serif;
        font-style: normal;
        font-weight: 400;
        font-size: 20px;
        line-height: 24px;
        color: rgba(0, 0, 0, 0.54);
    }
}

#left_card_optometrist {
    width: 50%;
    height: 100%;
    margin-left: 7vw;

    display: flex;
    flex-direction: column;
    text-align: center;
    vertical-align: middle;
    justify-content: center;
    align-items: center;
    background-color: #f1f0f0;

    #optometrist_title {
        font-family: "Inter", sans-serif;
        font-style: normal;
        font-weight: 400;
        font-size: 25px;
        line-height: 30px;
        letter-spacing: 0.5em;
        color: #62b6b7;
    }

    #optometrist_content {
        font-family: "Inter", sans-serif;
        font-style: normal;
        font-weight: 400;
        font-size: 20px;
        line-height: 24px;
        color: rgba(0, 0, 0, 0.54);
    }
}
#right_card_optometrist {
    width: 50%;
    height: 100%;
    margin-right: 7vw;
    background-image: url("../src/shop_optometrist.png");
    background-position: left;
    background-size: cover;
    background-repeat: no-repeat;
    overflow: hidden;
}

#left_card_warranty {
    width: 50%;
    height: 100%;
    margin-left: 7vw;

    background-image: url("../src/shop_warranty.png");
    background-position: left;
    background-size: cover;
    background-repeat: no-repeat;
    overflow: hidden;
}
#right_card_warranty {
    width: 50%;
    height: 100%;
    margin-right: 7vw;

    display: flex;
    flex-direction: column;
    text-align: center;
    vertical-align: middle;
    justify-content: center;
    align-items: center;
    background-color: #f1f0f0;

    #warranty_title {
        font-family: "Inter", sans-serif;
        font-style: normal;
        font-weight: 400;
        font-size: 25px;
        line-height: 30px;
        letter-spacing: 0.5em;
        color: #62b6b7;
    }

    #warranty_content {
        font-family: "Inter", sans-serif;
        font-style: normal;
        font-weight: 400;
        font-size: 20px;
        line-height: 24px;
        color: rgba(0, 0, 0, 0.54);
    }
}

#left_card_glasses {
    width: 50%;
    height: 100%;
    margin-left: 7vw;

    display: flex;
    flex-direction: column;
    text-align: center;
    vertical-align: middle;
    justify-content: center;
    align-items: center;
    background-color: #f1f0f0;

    #glasses_title {
        font-family: "Inter", sans-serif;
        font-style: normal;
        font-weight: 400;
        font-size: 25px;
        line-height: 30px;
        letter-spacing: 0.5em;
        color: #62b6b7;
    }

    #glasses_content {
        font-family: "Inter", sans-serif;
        font-style: normal;
        font-weight: 400;
        font-size: 20px;
        line-height: 24px;
        color: rgba(0, 0, 0, 0.54);
    }
}
#right_card_glasses {
    width: 50%;
    height: 100%;
    margin-right: 7vw;

    background-image: url("../src/shop_glasses.png");
    background-position: left;
    background-size: cover;
    background-repeat: no-repeat;
    overflow: hidden;
}

#left_card_personalize {
    width: 50%;
    height: 100%;
    margin-left: 7vw;

    background-image: url("../src/shop_personalize.png");
    background-position: left;
    background-size: cover;
    background-repeat: no-repeat;
    overflow: hidden;
}
#right_card_personalize {
    width: 50%;
    height: 100%;
    margin-right: 7vw;

    display: flex;
    flex-direction: column;
    text-align: center;
    vertical-align: middle;
    justify-content: center;
    align-items: center;
    background-color: #f1f0f0;

    #personalize_title {
        font-family: "Inter", sans-serif;
        font-style: normal;
        font-weight: 400;
        font-size: 25px;
        line-height: 30px;
        letter-spacing: 0.5em;
        color: #62b6b7;
    }

    #personalize_content {
        font-family: "Inter", sans-serif;
        font-style: normal;
        font-weight: 400;
        font-size: 20px;
        line-height: 24px;
        color: rgba(0, 0, 0, 0.54);
    }
}
