* {
  margin: 0;
  padding: 0;
}

html {
  width: 100vw;
  overflow-x: hidden;
}

body {
  position: relative;
  background-color: #faf8f8;
}

#navbar {
  position: relative;
}
#navbar #hamburger_icon {
  position: absolute;
  width: 60px;
  height: 60px;
  top: 15px;
  left: 25px;
  z-index: 3;
  background-image: url("../src/hamburger_icon.png");
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
}
#navbar #hamburger_icon:hover {
  cursor: pointer;
}
#navbar #hamburger_content_shadow {
  display: none;
  position: fixed;
  height: 100vh;
  width: 100vw;
  background-color: black;
  opacity: 0.7;
  z-index: 4;
}
#navbar #hamburger_content {
  position: fixed;
  display: none;
  left: 0;
  height: 100vh;
  width: 65vw;
  z-index: 10;
  background-color: white;
  -webkit-user-select: none;
     -moz-user-select: none;
          user-select: none;
}
#navbar #hamburger_content #hamburger_close {
  position: absolute;
  top: 12px;
  left: 19.5px;
  width: 70px;
  height: 70px;
  background-image: url("../src/hamburger_close.png");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}
#navbar #hamburger_content #hamburger_close:hover {
  cursor: pointer;
}
#navbar #hamburger_content .hamburger_element {
  margin-left: 10vw;
  display: flex;
  align-items: center;
  margin-top: 10vh;
}
#navbar #hamburger_content .hamburger_element .hamburger_element_zsh {
  font-size: 2rem;
  color: #62b6b7;
  letter-spacing: 1.5rem;
  font-family: "Inter", sans-serif;
}
#navbar #hamburger_content .hamburger_element .hamburger_element_eng {
  margin-left: 3vw;
  font-family: "Inter";
  font-size: 1rem;
  font-weight: 400;
  color: #62b6b7;
  font-family: "Inter", sans-serif;
}
#navbar #hamburger_content .hamburger_element:hover {
  cursor: pointer;
}
#navbar #hamburger_content #hamburger_element_homepage {
  margin-top: 15vh;
}
#navbar #hamburger_content #hamburger_element_login {
  display: flex;
}
#navbar #hamburger_content #hamburger_element_logout {
  display: none;
}
#navbar #you_are_in_element {
  position: absolute;
  height: 60px;
  top: 20px;
  right: 25px;
  font-size: 1.5rem;
  color: #62b6b7;
  letter-spacing: 3px;
  font-family: "Inter", sans-serif;
}

#functionbar {
  position: fixed;
  top: 65vh;
  margin-left: 1vw;
  z-index: 3;
}
#functionbar #cart_func {
  width: 4vw;
  height: 4vw;
  background-image: url("../src/funcbar_cart.png");
  background-position: center;
  background-size: cover;
}
#functionbar #cart_func:hover {
  cursor: pointer;
}
#functionbar #line_func {
  width: 4vw;
  height: 4vw;
  margin-top: 1vh;
  background-image: url("../src/funcbar_line.png");
  background-position: center;
  background-size: cover;
}
#functionbar #line_func:hover {
  cursor: pointer;
}
#functionbar #info_func {
  width: 4vw;
  height: 4vw;
  margin-top: 1vh;
  background-image: url("../src/funcbar_info.png");
  background-position: center;
  background-size: cover;
}
#functionbar #info_func:hover {
  cursor: pointer;
}

footer {
  margin-top: 10vh;
  bottom: 0;
  height: 10vh;
  display: flex;
  justify-content: space-around;
  align-items: center;
  background-color: #439a97;
}
footer #footer_brand_name {
  margin-left: 20vw;
}
footer #footer_brand_name p {
  font-size: 1.5rem;
}
footer #footer_fax {
  margin-right: 20vw;
}
footer p {
  color: white;
}

#QR-codeWrapper {
  position: fixed;
  background-color: blue;
  top: 100px;
  bottom: 4rem;
  background: rgba(250, 248, 248, 0.5);
  border: 1px solid #ffffff;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  -webkit-backdrop-filter: blur(7.5px);
          backdrop-filter: blur(7.5px);
  border-radius: 42px;
  bottom: 1rem;
  left: 8rem;
  width: 372px;
  height: 474px;
  z-index: 4;
}
#QR-codeWrapper #QR-content {
  display: flex;
  height: 100%;
  width: 100%;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
#QR-codeWrapper #QR-content #closeQRCode {
  position: absolute;
  width: 12.25px;
  height: 12.25px;
  top: 26.46px;
  left: 329.46px;
  background-image: url("../src/Vector.png");
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
}
#QR-codeWrapper #QR-content #closeQRCode:hover {
  cursor: pointer;
}
#QR-codeWrapper #QR-content #title {
  position: absolute;
  top: 64px;
  font-family: "Inter";
  font-style: normal;
  font-weight: 700;
  font-size: 28px;
  line-height: 34px;
  /* identical to box height */
  letter-spacing: 0.5em;
  color: #439a97;
}
#QR-codeWrapper #QR-content #subtitle {
  position: absolute;
  top: 110px;
  font-family: "Inter";
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 19px;
  letter-spacing: 0.5em;
  color: #62b6b7;
}
#QR-codeWrapper #QR-content #QRCodeImage {
  position: absolute;
  top: 144px;
  width: 200px;
  height: 200px;
  background-image: url("https://qr-official.line.me/gs/M_736wdmqa_BW.png");
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
}
#QR-codeWrapper #QR-content #Text_1 {
  position: absolute;
  top: 362px;
  font-family: "Inter";
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 19px;
  text-align: center;
  letter-spacing: 0.5em;
  color: #62b6b7;
}
#QR-codeWrapper #QR-content #Text_2 {
  position: absolute;
  top: 392px;
  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 17px;
  /* identical to box height */
  text-align: center;
  letter-spacing: 0.2em;
  color: #62b6b7;
}

#QR-codeWrapper.inactive {
  display: none;
}

#main_container {
  display: flex;
  height: 80vh;
}

#left_container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 60vw;
}
#left_container #section_container {
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  width: 10%;
}
#left_container #product_container_cart {
  height: 70vh;
  width: 90%;
  margin-left: 10%;
  overflow: scroll;
}
#left_container #product_container_cart .product_element {
  display: flex;
  justify-content: center;
  margin-top: 3vh;
  align-items: center;
  height: 20vh;
  width: 100%;
  background: #ffffff;
}
#left_container #product_container_cart .product_element .glasses_pic {
  height: 98px;
  width: 213px;
  -o-object-fit: cover;
     object-fit: cover; /* Scale the image so it covers whole area, thus will likely crop */
  -o-object-position: center;
     object-position: center;
}
#left_container #product_container_cart .product_element .glasses_text {
  width: 25%;
}
#left_container #product_container_cart .product_element .glasses_text .glasses_name {
  color: #000000;
  opacity: 0.8;
  font-family: "Inter", sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 24px;
  letter-spacing: 0.1em;
}
#left_container #product_container_cart .product_element .glasses_text .glasses_description {
  color: #000000;
  opacity: 0.8;
  font-family: "Inter", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 24px;
  letter-spacing: 0.1em;
}
#left_container #product_container_cart .product_element .glasses_price {
  width: 25%;
  color: #000000;
  opacity: 0.8;
  font-family: "Inter", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 24px;
  letter-spacing: 0.1em;
}
#left_container #product_container_cart .product_element .delete_icon {
  width: 25px;
  height: 25px;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: center;
     object-position: center;
}
#left_container #product_container_cart .product_element .delete_icon:hover {
  cursor: pointer;
}
#left_container #product_container_cart.inactive {
  display: none;
}
#left_container #keyin_container {
  display: flex;
  align-items: top;
  flex-wrap: wrap;
  width: 90%;
  margin-left: 10%;
}
#left_container #complete_container {
  display: flex;
  align-items: top;
  flex-wrap: wrap;
  width: 90%;
  margin-left: 10%;
}

#order_form {
  position: absolute;
  height: 70vh;
  left: 139px;
  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  font-size: 24px;
  line-height: 29px;
  /* identical to box height */
  color: #62b6b7;
}
#order_form p {
  margin-top: 26px;
}
#order_form input {
  margin-top: 7px;
  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 24px;
  color: #000000;
  opacity: 0.5;
}
#order_form input[type=text] {
  padding: 12px 20px;
  margin: 8px 0;
}
#order_form .order_input {
  margin-top: 7px;
  box-sizing: border-box;
  width: 844px;
  height: 61px;
  background: #ffffff;
  border: 1px solid #62b6b7;
  border-radius: 30px;
}
#order_form #payment_container {
  position: absolute;
  top: 480px;
  width: 844px;
  height: 61px;
}
#order_form #payment_container #text_payment {
  position: absolute;
}
#order_form #payment_container #options {
  display: flex;
  justify-content: space-between;
  margin-left: 340px;
  list-style-type: none;
}
#order_form #payment_container #options .select {
  width: 30px;
  height: 30px;
  border-radius: 50%;
  background: #ffffff;
  border: 1px solid #62b6b7;
}
#order_form #payment_container #options .select .select-inside {
  position: absolute;
  width: 19px;
  height: 19px;
  margin: 5px 5px 5px 5px;
  border-radius: 50%;
  background: #62b6b7;
  border: 1px solid #62b6b7;
}
#order_form #payment_container #options .select:hover {
  cursor: pointer;
}
#order_form #payment_container #options .select .inactive {
  display: none;
}
#order_form #payment_container #options .text {
  margin-top: 5px;
}
#order_form #payment_container #options * {
  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  font-size: 22px;
  line-height: 27px;
  /* identical to box height */
  color: #62b6b7;
  margin-left: 1px;
}

#navtab_container_cart {
  display: flex;
  margin-left: 10%;
  justify-content: center;
  align-items: center;
  width: 844px;
  height: 140px;
  border-bottom: 3px solid #62b6b7;
}

#navtab_container_cart.inactive {
  display: none;
}

#order_complete_container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin-left: 80vh;
  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  font-size: 32px;
  line-height: 39px;
  /* identical to box height */
  letter-spacing: 0.5em;
  color: #439a97;
}
#order_complete_container p {
  margin-top: 23px;
}
#order_complete_container #image_order {
  width: 288px;
  height: 288px;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: center;
     object-position: center;
}

#order_complete_container.inactive {
  display: none;
}

#right_container {
  width: 40vw;
  padding-top: 10vh;
}
#right_container h1 {
  margin-left: 10vw;
  margin-right: 10vw;
  color: rgba(0, 0, 0, 0.7);
  opacity: 0.8;
  font-family: "Inter";
  font-style: normal;
  font-weight: 700;
  font-size: 24px;
  line-height: 29px;
  letter-spacing: 0.1em;
}
#right_container #item_price {
  margin-top: 3vh;
  margin-left: 10vw;
  margin-right: 10vw;
  display: flex;
  justify-content: space-between;
  color: rgba(0, 0, 0, 0.54);
  opacity: 0.8;
  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 24px;
  letter-spacing: 0.1em;
}
#right_container #shipping_fee {
  margin-top: 1vh;
  margin-left: 10vw;
  margin-right: 10vw;
  display: flex;
  justify-content: space-between;
  color: rgba(0, 0, 0, 0.54);
  opacity: 0.8;
  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 24px;
  letter-spacing: 0.1em;
}
#right_container #total_price {
  margin-top: 5vh;
  margin-left: 10vw;
  margin-right: 10vw;
  display: flex;
  justify-content: space-between;
  color: rgba(0, 0, 0, 0.54);
  opacity: 0.8;
  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 24px;
  letter-spacing: 0.1em;
}
#right_container #button_container {
  margin-top: 5vh;
  display: flex;
  flex-direction: column;
  align-items: center;
}
#right_container #button_container #order_button {
  margin-left: 10vw;
  margin-right: 10vw;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 50%;
  height: 5vw;
  border-radius: 20px;
  background-color: #97dece;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border: 2px solid #97dece;
  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  font-size: 29px;
  padding-left: 0.5em;
  letter-spacing: 0.5em;
  color: #ffffff;
}
#right_container #button_container #order_button:hover {
  background-color: #faf8f8;
  color: #ffffff;
  transition: 0.5s;
  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  letter-spacing: 0.5em;
  color: #97dece;
}
#right_container #button_container #problem_button {
  margin-top: 3vh;
  margin-left: 10vw;
  margin-right: 10vw;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 50%;
  height: 5vw;
  background-color: #faf8f8;
  color: #ffffff;
  transition: 0.5s;
  border: 1px solid #97dece;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 20px;
  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  font-size: 29px;
  letter-spacing: 0.5em;
  padding-left: 0.5em;
  color: #97dece;
}
#right_container #payment_type {
  margin-top: 5vh;
  margin-left: 10vw;
  color: rgba(0, 0, 0, 0.7);
  opacity: 0.8;
  font-family: "Inter";
  font-style: normal;
  font-weight: 700;
  font-size: 24px;
  letter-spacing: 0.1em;
}
#right_container #credit_card {
  margin-left: 10vw;
  margin-top: 10px;
  width: 10vw;
}

.inactive {
  display: none;
}/*# sourceMappingURL=style_cart.css.map */