//-------------------- general ---------------------//
* {
    margin: 0;
    padding: 0;
}
html {
    width: 100vw;
    overflow-x: hidden;
}
body {
    position: relative;
    background-color: #faf8f8;
}

#navbar {
    position: relative;

    #hamburger_icon {
        position: absolute;
        width: 60px;
        height: 60px;
        top: 15px;
        left: 25px;
        z-index: 3;

        background-image: url("../src/hamburger_icon.png");
        background-position: center;
        background-size: contain;
        background-repeat: no-repeat;
    }
    #hamburger_icon:hover {
        cursor: pointer;
    }

    #hamburger_content_shadow {
        display: none;
        position: fixed;
        height: 100vh;
        width: 100vw;

        background-color: black;
        opacity: 0.7;
        z-index: 4;
    }
    #hamburger_content {
        position: fixed;
        display: none;
        left: 0;
        height: 100vh;
        width: 65vw;
        z-index: 10;

        background-color: white;
        user-select: none;

        #hamburger_close {
            position: absolute;
            top: 12px;
            left: 19.5px;
            width: 70px;
            height: 70px;

            background-image: url("../src/hamburger_close.png");
            background-position: center;
            background-size: cover;
            background-repeat: no-repeat;
        }
        #hamburger_close:hover {
            cursor: pointer;
        }

        .hamburger_element {
            margin-left: 10vw;
            display: flex;
            align-items: center;
            margin-top: 10vh;

            .hamburger_element_zsh {
                font-size: 2rem;
                color: #62b6b7;
                letter-spacing: 1.5rem;
            }
            .hamburger_element_eng {
                margin-left: 3vw;
                font-family: "Inter";
                font-size: 1rem;
                font-weight: 400;
                color: #62b6b7;
            }

            &:hover {
                cursor: pointer;
            }
        }

        #hamburger_element_homepage {
            margin-top: 15vh;
        }
    }

    #you_are_in_element {
        position: absolute;
        height: 60px;
        top: 20px;
        right: 25px;
        font-size: 1.5rem;
        color: #62b6b7;
        letter-spacing: 3px;
    }
}

#functionbar {
    position: fixed;
    top: 65vh;
    margin-left: 1vw;
    z-index: 3;

    #cart_func {
        width: 4vw;
        height: 4vw;
        background-image: url("../src/funcbar_cart.png");
        background-position: center;
        background-size: cover;
    }
    #cart_func:hover {
        cursor: pointer;
    }
    #line_func {
        width: 4vw;
        height: 4vw;
        margin-top: 1vh;
        background-image: url("../src/funcbar_line.png");
        background-position: center;
        background-size: cover;
    }
    #line_func:hover {
        cursor: pointer;
    }
    #info_func {
        width: 4vw;
        height: 4vw;
        margin-top: 1vh;
        background-image: url("../src/funcbar_info.png");
        background-position: center;
        background-size: cover;
    }
    #info_func:hover {
        cursor: pointer;
    }
}

footer {
    margin-top: 10vh;
    bottom: 0;
    height: 10vh;

    display: flex;
    justify-content: space-around;
    align-items: center;

    background-color: #439a97;
    #footer_brand_name {
        margin-left: 20vw;
        p {
            font-size: 1.5rem;
        }
    }
    #footer_fax {
        margin-right: 20vw;
    }

    p {
        color: white;
    }
}

//--------------------------------------------------//

#login_function {
    display: block;
    padding-top: 100px;

    #login_banner {
        display: flex;
        justify-content: center;
        align-items: center;

        #login_banner_left_line {
            height: 5px;
            width: 145px;
            background-color: #62b6b7;
            margin-right: 70px;
        }
        p {
            color: #62b6b7;
            font-size: 2.5rem;
            font-family: "Inter", sans-serif;
        }
        #login_banner_right_line {
            height: 5px;
            width: 145px;
            background-color: #62b6b7;
            margin-left: 70px;
        }
    }

    #login_form {
        margin-left: 32vw;
        display: flex;

        form {
            width: 36vw;
            p {
                margin-top: 40px;
                margin-bottom: 20px;
                color: #62b6b7;
                font-size: 1.5rem;
            }
            input {
                box-sizing: border-box;
                padding-left: 30px;
                width: 100%;
                height: 4vw;

                background: #ffffff;
                border: 1px solid #62b6b7;
                border-radius: 30px;

                color: black;
                font-size: 1.4rem;
                letter-spacing: 0.2rem;
            }
            #login_password_protection {
                position: relative;
                #login_password_visible_button {
                    position: absolute;
                    right: 1.5vw;
                    top: 1vw;
                    height: 2vw;
                    width: 2vw;
                    background-image: url("../src/password_invisible.png");
                    background-size: cover;
                }
            }
        }
    }

    #login_button_container {
        margin-left: 32vw;
        width: 36vw;

        #login_button {
            margin-top: 20vh;
            width: 100%;
            height: 7vw;

            background: #97dece;
            box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
            border-radius: 20px;
            border: none;

            color: #faf8f8;
            font-size: 2.5rem;
            letter-spacing: 1rem;
            padding-left: 1rem;
        }

        #change_to_signup {
            display: flex;
            justify-content: center;
            align-items: center;

            margin-top: 3vh;

            #still_not_signup {
                width: 50%;
                color: #979797;
                font-size: 1.3rem;
                letter-spacing: 0.7rem;
            }
            #change_to_signup_button {
                height: 3vw;
                width: 50%;
                background: #d9d9d9;
                box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
                border-radius: 20px;
                border: none;

                color: #faf8f8;
                font-size: 2rem;
                letter-spacing: 1rem;
                padding-left: 1rem;
            }
        }
    }
}

#signup_function {
    display: none;
    padding-top: 100px;

    #signup_banner {
        display: flex;
        justify-content: center;
        align-items: center;

        #signup_banner_left_line {
            height: 5px;
            width: 145px;
            background-color: #62b6b7;
            margin-right: 70px;
        }
        p {
            color: #62b6b7;
            font-size: 2.5rem;
            font-family: "Inter", sans-serif;
        }
        #signup_banner_right_line {
            height: 5px;
            width: 145px;
            background-color: #62b6b7;
            margin-left: 70px;
        }
    }

    #signup_form {
        margin-left: 32vw;

        display: flex;

        form {
            width: 36vw;
            p {
                margin-top: 40px;
                margin-bottom: 20px;
                color: #62b6b7;
                font-size: 1.5rem;
            }
            input {
                box-sizing: border-box;
                padding-left: 30px;
                width: 100%;
                height: 4vw;

                background: #ffffff;
                border: 1px solid #62b6b7;
                border-radius: 30px;

                color: black;
                font-size: 1.4rem;
                letter-spacing: 0.2rem;
            }
            .signup_password_protection {
                position: relative;
                .signup_password_visible_button {
                    position: absolute;
                    right: 1.5vw;
                    top: 1vw;
                    height: 2vw;
                    width: 2vw;
                    background-image: url("../src/password_invisible.png");
                    background-size: cover;
                }
            }
            #password_incorresponding_minder {
                display: flex;
                justify-content: flex-end;
                p {
                    margin-right: 40px;
                    margin-top: 7px;
                    color: #62b6b7;
                    font-size: 1.3rem;
                }
            }
        }
    }

    #signup_button_container {
        margin-left: 32vw;
        width: 36vw;

        #signup_button {
            margin-top: 10vh;
            width: 100%;
            height: 7vw;

            background: #97dece;
            box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
            border-radius: 20px;
            border: none;

            color: #faf8f8;
            font-size: 2.5rem;
            letter-spacing: 1rem;
            padding-left: 1rem;
        }

        #change_to_login {
            display: flex;
            justify-content: center;
            align-items: center;

            margin-top: 3vh;

            #still_not_login {
                width: 50%;
                color: #979797;
                font-size: 1.3rem;
                letter-spacing: 0.7rem;
            }
            #change_to_login_button {
                height: 3vw;
                width: 50%;
                background: #d9d9d9;
                box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
                border-radius: 20px;
                border: none;

                color: #faf8f8;
                font-size: 2rem;
                letter-spacing: 1rem;
                padding-left: 1rem;
            }
        }
    }
}
