#navbar {
    #hamburger_icon {

    }
    #hamburger_content {
    .hamburger_element {
        display: flex;
    }
    }
    

    #hambuger_close {

    }
}






footer {
    display: flex;
    justify-content: space-around;
}


#footer_brand_name {
    margin-left: 10vw;
}
#footer_fax {
    margin-right: 10vw;
}